html, body {
	margin: 0;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	color: #374257;
}

#content {
	margin-left: 5%;
	max-width: 800px;
	width: 85%;
}

#content h1 {
	line-height: 1.1em;
}

#container {
	position: relative;
	z-index: 1;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}